.about {
    /*width: 100%;*/
    display: flex; /*why does this solve gutter problem*/
    flex-direction: column;
    align-items: center;
}

.about h1 {
    padding-top: 8rem;
    padding-bottom: 3.5rem;
    font-size: 2rem;
    
    max-width: 75%;
    color: hsl(180, 80%, 35%);
    color: #102027;
    color: #26a69a;
}

.about img {
    max-width: 33%;
    height: auto;
    /*padding-bottom: 3.5rem;*/
}

.about p {
    /*display: inline-block;*/
    padding: 3.5rem;
    max-width: 75%;
    line-height: 1.2;
    color: #37474f;
    font-weight: 600;
    text-align: justify;
}