.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

/* .about h1 {
    font-size: 3rem;
    color: #26a69a;
    font-weight: 600;
}

.about h1 {
    padding-bottom: 2rem;
    font-size: 2rem;
    max-width: 75%;
    color: #26a69a;
} */

.about img {
    max-width: 33%;
    height: auto;
    border: 1px solid rgb(98,114,123, .25);
    border-radius: 7.5%;
    /*padding-bottom: 3.5rem;*/
}

@media
(max-width: 600px) {
    .about img {
        max-width: 50%;
    }
}

.about p {
    /*display: inline-block;*/
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 75%;
    line-height: 1.2;
    color: #37474f;
    font-weight: 600;
    text-align: justify;
}