.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.contact h2 {
    color: #26a69a;
    font-size: 2rem;
    max-width: 75%;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: -10rem;
}

/* .social {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: green;
} */
