.banner {
  width: 100%;
  height: auto;
  overflow: hidden;
  /* class not working*/
}

.bannerImage {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*background-image: radial-gradient(black, white);*/
  background-image: url(./images/nyc-skyline.jpg);

  /* Set a specific height */

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  margin: 0;
  width: 100%;
  top: 0;
  z-index: 0;

}

/* Place text in the middle of the image */
.bannerText {
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  top: 33%;
  left: 50%;
  width: 50%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 1;
  opacity: 1;

  /*background-color: rgba(72, 73, 78, 0.1);*/
}