.header {
    height: 100%;
    background-color:rgba(255, 255, 255, 0.40);
    /*background-color: rgba(98,114,123, .2);
    background-color: rgb(16,32,39, .33);*/
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-weight: 600;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    position: absolute;
    z-index: 2;
}

.title {
    text-decoration: none;
    font-size: 2rem;
    /*color: hsl(180, 80%, 35%);*/
    color: #26a69a;
    color: #102027;
    /*padding: 1rem 2rem;*/
    line-height: 2rem;
    padding-left: 2rem;
    letter-spacing: .1rem;
}

.title:hover {
    /* do cool motion here with logo*/
}

.navList {
    padding-right: 1rem;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header li {
    list-style: none;
    display: flex;
    align-items: center;
}

.navItem {
    text-decoration: none;
    /*color: hsl(199, 25%, 40%);*/
    color: #37474f;
    /*padding: 1rem 0;*/
    line-height: 2rem;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    
}

.navItem:hover {
    color: #25a59a;
    color: #62727b;
}