.home img {
  /*opacity: .66;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;*/
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  opacity: .66;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerText {
  position: absolute;  
  left: 50%;                        /* horizontal alignment */
  top: 50%;                         /* vertical alignment */
  transform: translate(-50%, -50%); /* precise centering; see link below */
  /*color: hsl(199, 25%, 20%);*/
  color: #102027;
  font-size: 1.2rem;
}

.button {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color:white;
  text-transform: lowercase;
}