.podcast {
    display: grid;
    height: 100vh;
    width: auto;
    grid-template-columns: 33.33% 66.66%;
    grid-template-areas: 
    'album albumText'
    'subscribe subscribe';
    /* margin: 8rem 2rem 3.5rem 2rem; */
    margin-top: 8rem;

}

.podcast img {
    width: 100%;
    height: auto;
    /* flex: 0 0 0; */
    border: 1px solid rgb(98,114,123, .25);
    border-radius: 7.5%;
    margin-left: 2rem;
    margin-top: 1.5rem;
    /* box-shadow: 5px 5px 5px #62727b; */
    /* box-shadow: .5rem .5rem .25rem #62727b, -.5rem -.5rem .25rem #62727b ; */
    /* -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff; */
    /* box-shadow: 0 0 20px #000 */
}

.podText {
    /* max-width: 100%; */
    text-align: left;
    margin-left: 5rem;
    /* margin-top: -2rem; */
    grid-area: albumText;
}

.podText h1{
    font-size: 2rem;
    color: #26a69a;
}

.podText p {
    max-width: 75%;
    line-height: 1.2;
    color: #37474f;
    font-weight: 600;
    text-align: justify;
}

.subscribe {
    /* margin-top: 3.5rem; */
    grid-area: subscribe;
    padding-top: .5rem;
    color: white;
    height: 7rem;
    width: 100%;
    /* background-color: #102027; */
    background-color: #26a69a;
}