.intro {
    margin-left: 1rem;
    margin-right: 1rem;
    /* min-width: 100%; */
}

.introP {
    text-align: justify;
    max-width: 80%;
    color: #62727b;
    /* color: #37474f; */
    font-weight: 600;
}