.grid {
    margin-top: 4rem;
    flex-grow: 1;
}

.allEps {
    margin-top: 2rem;
    color: #37474f;
    font-size: .75rem;
    /* width: 100vh; */
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 600;

}